<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ceph Attributes for {{pool.name}}</h3>
    </div>
    <div class="panel-body">
        <form name="hostForm" role="form" class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Replicas</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="repsize" required ng-model="data.repsize">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Min. Replicas</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="minrepsize" required ng-model="data.minrepsize">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
