<div class="openattic-modal-header">
    <span>Generate API authentication token</span>
</div>
<div class="openattic-modal-content">
    <p>
        You are about to generate a new API authentication token.
    </p>
    <p>
        <i class="fa fa-exclamation-triangle"></i> Please note that this will invalidate
        the existing token and make sure to update any applications still using the old token.
    </p>
    <p>
        To confirm, please click <kbd>Generate</kbd>, or cancel and return to the page.
    </p>
</div>
<div class="openattic-modal-footer">
    <form name="generateForm" role="form" novalidate>
        <div class="button-group text-right">
            <button id="bot2-Msg1" class="btn btn-primary btn-sm" ng-click="generateAuthToken()">
                Generate
            </button>
            <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </form>
</div>
