<div class="panel panel-default" ng-if="selection.item.name">
  <div class="panel-heading">
    <h3 class="panel-title">Storage tree of {{selection.item.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="tree">
      <ul>
        <li><span ng-bind="selection.item.name"></span></li>
        <ul>
          <li ng-repeat="data in storageTree.devices" ng-include="'components/storage-tree/templates/tree-node.html'"></li>
        </ul>
      </ul>
    </div>
  </div>
</div>