<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Status of {{selection.item.name}}</h3>
    </div>
    <div class="panel-body">
        <h2>Basic information:</h2>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd ng-bind="selection.item.name"></dd>
            <dt>Status:</dt>
            <dd ng-bind="selection.item.status"></dd>
        </dl>
    </div>
</div>
