body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: #373737;
    line-height: 1.6;
    font-weight: normal;
    background-color: #ffffff;
}

div.body {
  color: #373737 !important;
}

div.headerimg {
    padding-top: 21px;
    height: 76px;
}

div.document {
    background-color: transparent;
    margin: 0 0 10px;
    padding: 3px;
    text-align: left;
}

a, a:visited {
	color: #288cea;
    text-decoration:none;
    display:inline-block;
}

a.external, a.external:visited {
    padding-left: 15px;
}

a.headerlink {
    color: #288cea !important;
	display: inline !important;
}

a.headerlink:hover {
    background-color: #288cea !important;
    color: #ffffff !important;
}

div.related, div.related a, div.related a:visited {
    background-color: transparent;
    color: #373737 !important;
}

div.col-wrapper h3 {
    margin-top: 20px !important;
}

div.body h1 {
    font-size: 25px !important;
    margin-top: 20px !important;
}

h1, h2, h3, h4, h3 a, h3 a:visited {
    background-color: transparent !important;
    font-family: "Droid Serif", serif !important;
    color: #288cea !important;
}

.csc-firstHeader {
    border-bottom: 2px solid #E2E4E4 !important;
    border-top: 2px solid #E2E4E4 !important;
}

div.related li.right {
    background-color: transparent;
    float: right;
}

#bodywrapper {
    margin-top: 0;
}

pre, div.seealso {
    border-color: #CCCCCC;
}


#mainnav {
    border: none;
    background: #eeeeee;
    background-image: none;
    padding: 5px 5px;
}

#mainnav *:link, #mainnav *:visited, #mainnav *:link:hover {
    background: transparent;
    background-image: none;
    border-left: none;
    border-right: none;
    color: #373737;
}

#mainnav .active *:link, #mainnav .active *:visited {
    background: transparent;
    background-image: none;
    color: #dc072e;
    border-right: none;
}

#mainnav .active *:link:hover, #mainnav .active *:visited:hover {
    border-right: none;
    background: transparent;
    background-image: none;
}

p {
	margin-bottom: 1em;
}

div.body li,
li {
	line-height: 1.5em;
}

ul li,
ol li {
	/* list-style-position: inherit; */
}


div.node {
	background-color: #F9F9F9:
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
	padding-left: 0;
	margin: 20px -20px 10px 0; /* Headings' margins */
}

div.admonition {
	margin-top: 1em;
	margin-bottom: 1em;
}

p.admonition-title {
	margin: 0 0.2em 0 0;
}

a.external,
a.external:visited {
	padding-left: 0;
}

.table-of-contents ul {
	margin: 0;
	padding: 0;
}
.table-of-contents li {
	margin-left: 1.5em;
	padding-left: 0;
}
.table-of-contents li li {
	font-size: 15px;
}
.table-of-contents li li li {
	font-size: 14px;
}
.table-of-contents h3,
.table-of-contents h4 {
	color: #373737 !important;
	font-size: 15px;
	margin: 1em 0 0.5em 0;
}
.table-of-contents h3 {
	font-weight: bold;
}
.table-of-contents a {
	display: block;
}

.table-of-contents input[type=submit] {
	padding: 5px 10px 4px 10px;
}

ol li {
	color: inherit;
}

.admonition p {
	vertical-align: inherit;
}

.body li {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

pre {
	margin: 1em 0;
}
