<oadatatable data="data" class="oadatatable tc_oadatatable_cmdlog" filter-config="filterConfig" selection="selection">
    <actions>
        <a class="btn btn-sm btn-primary tc_deleteByDateBtn" type="button" ng-click="deleteByDateAction()">
            <i class="fa fa-fw fa-calendar"></i>Delete By Date
        </a>
        <li ng-class="{disabled: !hasSelection}" max-selected=1>
            <a ng-click="deleteAction()" class="tc_deleteBtn">
                <i class="fa fa-fw fa-trash-o"></i>Delete By Selection
            </a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                <th sortfield="command" sortheaderclass ng-show="columns['Command']">Command</th>
                <th ng-show="columns['Text']">Text</th>
                <th sortfield="exitcode" sortheaderclass ng-show="columns['Exitcode']">Exitcode</th>
                <th sortfield="host" sortheaderclass ng-show="columns['Host']">Host</th>
                <th sortfield="endtime" sortheaderclass sortdefault ng-show="columns['Endtime']" sortorder="DESC">Endtime</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results" ng-class="{ info: isRowSelected(row), danger: row.exitcode !== 0 }"
                class="clickable"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                <td ng-show="columns['Command']" ng-bind="row.command"></td>
                <td ng-show="columns['Text']"><p class="code-clogs" ng-bind-html="(row.text | shortcommandlog)"></p></td>
                <td ng-show="columns['Exitcode']" ng-bind="row.exitcode"></td>
                <td ng-show="columns['Host']" ng-bind="row.host.title"></td>
                <td ng-show="columns['Endtime']" ng-bind="row.endtime | date:'short'"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
