<div class="openattic-modal-header">
    <span>Delete log entry by selection</span>
</div>
<div class="openattic-modal-content">
    <p ng-show="itemText">
        You are about to delete the log entry <strong>{{command}}</strong>.
    </p>
    <p ng-show="!itemText">
        You are about to delete <strong>{{selectionLength}}</strong> log entries.
    </p>
    <p>
        To confirm, please click <kbd>Delete</kbd>, or cancel and return to the page.
    </p>
</div>

<div class="openattic-modal-footer">
    <form name="deleteForm" role="form" novalidate>
        <div class="button-group text-right">
            <button id="bot2-Msg1" class="btn btn-primary btn-sm"
                    ng-click="delete()"
                    ng-disabled="deleteForm.$invalid || deleteForm.$submitted">
                Delete
                <i class="fa fa-spinner fa-spin fa-fw" ng-if="deleteForm.$submitted"></i>
            </button>
            <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>