<div class="cluster-status">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Live Stats</h3>
            </div>
            <div class="panel-body">
                <div class="graph-form">
                    <div class="inline-group">
                        <ul class="checkbox checkbox-primary" ng-repeat="checkBox in checkBoxes">
                            <li>
                                <input type="checkbox" ng-model="checkBox.isChecked" name="active" id="csw-{{checkBox.id}}">
                                <label for="csw-{{checkBox.id}}">
                                    {{checkBox.label}}
                                </label>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <flot dataset="lineChartDataset" options="lineChartOptions" height="250px"
                      ng-dblclick="dblClick()" ng-right-click="rightClick()" ng-mousedown="mouseDown()"
                      ng-plotselected="selected($event, $ranges)">
                </flot>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Hosts</h3>
            </div>
            <div class="panel-body">
                <uib-progressbar value="hostsPercent" type="{{hostsType}}">{{hosts}}</uib-progressbar>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Disks</h3>
            </div>
            <div class="panel-body">
                <uib-progressbar value="disksOnlinePercent" type="{{disksOnlineType}}">{{disksOnline}}</uib-progressbar>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">CPU Load</h3>
            </div>
            <div class="panel-body">
                <div class="easy-pie-chart" easypiechart percent="percentCpuLoad" options="defaultOptions">
                    <span class="percent percent-sign" ng-bind="percentCpuLoad"></span>
                </div>
                <ul class="smaller-stat pull-right">
                    <li>
                    <span class="label" ng-class="
                                            {'bg-color-darken': percentCpuLoadTrend=='stable',
                                             'bg-color-greenLight': percentCpuLoadTrend=='down',
                                             'bg-color-red': percentCpuLoadTrend=='up'}">
                        <i class="fa" ng-class="
                                        {'fa-caret-right': percentCpuLoadTrend=='stable',
                                         'fa-caret-up': percentCpuLoadTrend=='up',
                                         'fa-caret-down': percentCpuLoadTrend=='down'}">
                        </i> {{percentCpuLoadDiff}}%
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Disk Load</h3>
            </div>
            <div class="panel-body">
                <div class="easy-pie-chart" easypiechart percent="percentDiscUsage" options="defaultOptions">
                    <span class="percent percent-sign" ng-bind="percentDiscUsage"></span>
                </div>
                <ul class="smaller-stat pull-right">
                    <li>
                    <span class="label" ng-class="
                                            {'bg-color-darken': percentDiscUsageTrend=='stable',
                                             'bg-color-greenLight': percentDiscUsageTrend=='down',
                                             'bg-color-red': percentDiscUsageTrend=='up'}">
                        <i class="fa" ng-class="
                                        {'fa-caret-right': percentDiscUsageTrend=='stable',
                                         'fa-caret-up': percentDiscUsageTrend=='up',
                                         'fa-caret-down': percentDiscUsageTrend=='down'}">
                        </i> {{percentDiscUsageDiff}}%
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>