<div ng-controller="BlockstorageCtrl">
    <br /><br />
    <div class="widget-body">
        <wizard>
            <div class="tab-content">
                <div ng-class="{'active': isActiveTab(1)}" title="Create Volume" class="tab-pane">
                    <h3 class="tc_oawizard_h3"><strong>iSCSI/Fibre Channel target Step 1 </strong> - Create Volume</h3>
                    <form name="$parent.contentForm1" role="form" class="form-horizontal" novalidate>
                        <volume-add-form volume-form="contentForm1" result="input.volume" wizard="true" avail-types="limitTypes"></volume-add-form>
                    </form>
                </div>
                <div ng-class="{'active': isActiveTab(2)}" title="Create Shares" class="tab-pane">
                    <h3 class="tc_step2"><strong>iSCSI/Fibre Channel target Step 2 </strong> - Create a Share</h3>
                    <form name="$parent.hostSelect" role="form" class="form-horizontal" novalidate>
                        <div class="form-group">
                            <label class="col-md-10 col-md-offset-2">
                                <input type="radio" ng-model="input.hostSelection" value="select">
                                Select existing host
                            </label>
                            <label class="col-md-10 col-md-offset-2">
                                <input type="radio" class="tc_create_host" ng-model="input.hostSelection" value="create">
                                Create new host
                            </label>
                        </div>
                    </form>
                    <form name="$parent.contentForm2" role="form" class="form-horizontal"
                            ng-show="input.hostSelection === 'select'" novalidate>
                        <div class="form-group" ng-class="{'has-error': (contentForm2.submitted ||
                            contentForm2.iscsifchost.$dirty) && contentForm2.iscsifchost.$invalid}">
                            <label class="col-md-2 control-label" for="iscsifchost">Host</label>
                            <div class="col-md-10">
                                <select class="form-control" ng-model="input.iscsi_fc.host"
                                        ng-options="host.name for host in hosts" id="iscsifchost"
                                        name="iscsifchost">
                                    <option value="">-- Select a host --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (contentForm2.submitted ||
                            contentForm2.iscsifclunid.$dirty) && contentForm2.iscsifclunid.$invalid}"
                             ng-show="has_initiator">
                            <label class="col-md-2 control-label" for="iscsifclunid">ID</label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" placeholder="ID..." min="0"
                                       ng-model="input.iscsi_fc.lun_id" name="iscsifclunid" id="iscsifclunid">
                                <span class="help-block" ng-show="(contentForm2.submitted ||
                                    contentForm2.iscsifclunid.$dirty) && contentForm2.iscsifclunid.$error.min">
                                    The LUN ID must be a positive number.
                                </span>
                            </div>
                        </div>
                    </form>
                    <host-form state-go-to="dashboard" config="hostDirective.config"
                               submit="hostDirective.submit" ng-show="input.hostSelection === 'create'" ></host-form>
                </div>
                <div ng-class="{'active': isActiveTab(3)}" title="Save configuration" class="tab-pane">
                    <h3 class="tc_wizardDone"><strong>iSCSI/Fibre Channel target Step 3 </strong> - Save configuration</h3>
                    <form name="$parent.contentForm3" role="form" class="form-horizontal" novalidate>
                        <br />
                        <h1 class="text-center text-success">
                            <strong><i class="fa fa-check fa-lg"></i> iSCSI/Fibre Channel target Configuration Complete</strong>
                        </h1>
                        <h4 class="text-center">Click 'Done' to finish</h4>
                        <br />
                    </form>
                </div>
            </div>
        </wizard>
    </div>
</div>
