<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Status of {{selection.item.name}}</h3>
    </div>
    <div class="panel-body">
        <h2>Basic information:</h2>
        <dl class="dl-horizontal">
            <dt>ID:</dt>
            <dd ng-bind="selection.item.id"></dd>
            <dt>Size:</dt>
            <dd ng-bind="selection.item.max_avail | bytes"></dd>
            <dt>Used:</dt>
            <dd ng-bind="selection.item.num_bytes | bytes"></dd>
            <dt>Placement Groups:</dt>
            <dd ng-bind="selection.item.pg_num"></dd>
            <div ng-show="selection.item.size">
                <dt>Number of replicas:</dt>
                <dd ng-bind="selection.item.size"></dd>
            </div>
            <div ng-show="selection.item.erasure_code_profile">
                <dt>Erasure code profile:</dt>
                <dd ng-bind="selection.item.erasure_code_profile"></dd>
            </div>
            <dt>Type:</dt>
            <dd ng-bind="selection.item.type"></dd>
            <div ng-show="selection.item.crush_ruleset !== 0">
                <dt>Crush ruleset:</dt>
                <dd ng-bind="selection.item.crush_ruleset"></dd>
            </div>
        </dl>

        <h2>Expert information:</h2>
        <dl class="dl-horizontal">
            <div ng-show="selection.item.cluster.id">
                <dt>Cluster ID:</dt>
                <dd ng-bind="selection.item.cluster.id"></dd>
            </div>
            <dt>Last change:</dt>
            <dd ng-bind="selection.item.last_change"></dd>
            <dt>Placement groups for placement:</dt>
            <dd ng-bind="selection.item.pgp_num"></dd>
            <div ng-show="selection.item.stripe_width !== 0">
                <dt>stripe_width:</dt>
                <dd ng-bind="selection.item.stripe_width"></dd>
            </div>
            <div ng-show="selection.item.quota_max_bytes !== 0">
                <dt>quota_max_bytes:</dt>
                <dd ng-bind="selection.item.quota_max_bytes"></dd>
            </div>
            <div ng-show="selection.item.quota_max_objects !== 0">
                <dt>quota_max_objects:</dt>
                <dd ng-bind="selection.item.quota_max_objects"></dd>
            </div>
        </dl>
    </div>
</div>
