<ceph-crush-map-editor>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sorry folks...</h3>
        </div>
        <div class="panel-body">
            This feature requires the Ceph extension module to be installed.
        </div>
    </div>
</ceph-crush-map-editor>