<oadatatable data="httpData" class="oadatatable tc_oadatatable_http_shares" filter-config="httpFilter" selection="httpSelection">
    <actions>
        <a class="btn btn-sm btn-primary tc_httpShareAdd" type="button"
           ng-click="addHttpAction()" ng-hide="httpSelection.item">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_deleteHttpShare" type="button"
           ng-click="deleteHttpAction()" ng-show="httpSelection.item">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addHttpAction()">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li class="divider"></li>
        <li ng-class="{disabled: !httpSelection.item}" max-selected=1>
            <a ng-click="deleteHttpAction()">
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available"><input type="checkbox" ng-model="selection.checkAll"/></th>
                <th sortfield="path"       sortdir="asc" sortheaderclass sortdefault ng-show="columns['Path']"      >Path</th>
                <th ng-show="columns['Browse']">Browse</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results" ng-class="{ info: isRowSelected(row) }" ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available"><input type="checkbox" checklist-model="selection.items" checklist-value="row"/></td>
                <td class="tc_http_share" ng-show="columns['Path']"       ng-bind="row.path"></td>
                <td ng-show="columns['Browse']"><a href="/volumes/{{row.volume.title}}" target="_blank">/volumes/{{row.volume.title}}</a></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
