<div class="col-sm-12 col-lg-6">
    <form name="shareForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 class="panel-title">Create LUN</h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || shareForm.host.$dirty) && shareForm.host.$invalid}">
                        <label class="col-md-2 control-label" for="host">Host</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="share.host"
                                    ng-options="host.name for host in hosts" id="host" name="host" required>
                                <option value="">-- Select a host --</option>
                            </select>
                                <span class="help-block" ng-show="(submitted || shareForm.host.$dirty) && shareForm.host.$error.required">
                                    This field is required!
                                </span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="haz_initiator">
                        <label class="col-md-2 control-label" for="LunId">ID</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                <input type="text" class="form-control" placeholder="ID..."
                                       ng-model="share.lun_id" name="lun_id" id="LunId">
                                <span ng-show="shareForm.lun_id.$dirty && shareForm.lun_id.$invalid"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit" class="btn btn-sm btn-primary tc_submitButton" ng-click="submitAction(shareForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>