<div class="openattic-modal-header">
    <span>Resize volume</span>
</div>

<form name="input.resizeForm" role="form" novalidate>
    <div class="openattic-modal-content">
        <p>You are about to resize the volume <strong>{{volume.name}}</strong>.</p>
        <p>
            To confirm, please click <kbd>Resize volume</kbd>, or cancel and return to the page.<br>
            The maximum volume size can be found below.
        </p>

        <div class="form-group"
             ng-class="{'has-error': (submitted || input.resizeForm.newsize.$dirty) && input.resizeForm.newsize.$invalid}">
            <input type="text" class="form-control" id="newsize" name="newsize" placeholder="{{volume.usage.size_text}}"
                   ng-model="input.newsize" min-value="{{volume.usage.size_text}}" max-value="{{pool.usage.max_new_fsv}}"
                   volume-size-format volume-size-value required autofocus autocomplete="off">

            <!-- Error -->
            <span class="help-block tc_required"
                  ng-show="(submitted || input.resizeForm.newsize.$dirty) && input.resizeForm.newsize.$error.required">
                This field is required!
            </span>
            <span class="help-block tc_noValidNumber" ng-show="input.resizeForm.newsize.$error.volumeSizeFormat">
                This is not a valid number.
            </span>
            <span class="help-block tc_wrongSize" ng-show="input.resizeForm.newsize.$error.volumeSizeValue">
                The size must greater than {{volume.usage.size_text}} and must not exceed {{pool.usage.max_new_fsv_text}}.
            </span>
            <!-- end Error -->

            <p ng-show="pool.usage.max_new_fsv_text">{{pool.usage.max_new_fsv_text}} free</p>
        </div>
    </div>

    <div class="openattic-modal-footer">
        <div class="button-group text-right">
            <button id="bot2-Msg1" class="btn btn-primary btn-sm"
                    ng-click="resize()" ng-disabled="input.resizeForm.$invalid">
                Resize volume
            </button>
            <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>