<div class="panel-body">
    <div class="row" ng-hide="volumesLoaded">
        <div class="col-lg-12">
            Loading volume state...
        </div>
    </div>
    <div class="row" ng-show="volumesLoaded && volumes.length === 0">
        <div class="col-lg-12">
            All volumes are ok.
        </div>
    </div>
    <div class="row" ng-show="volumes.length > 0">
        <div class="col-lg-4" style="min-height: 300px">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                <tr ng-repeat="row in volumes | orderBy:'name'" ng-click="select(row)" ng-class="{ info: selectedVolume == row }">
                    <td title="{{ volumeStatusMsg(row) }}">
                        <i class="fa" ng-class="{
                                'fa-question':             row.status.status == '',
                                'fa-check':                row.status.status == 'good',
                                'fa-exclamation-triangle': row.status.status == 'warn',
                                'fa-bomb':                 row.status.status == 'crit',
                                'fa-chain-broken':         row.status.status == 'fail',
                                'fa-lock':                 row.status.status == 'locked'
                                }"></i>
                        {{ row.name }}
                    </td>
                    <td>
                        <div class="progress oaprogress" ng-show="row.usage.used !== undefined"
                             data-toggle="tooltip" data-placement="right"
                             title="Used: {{row.usage.used_text}} &mdash; Free: {{row.usage.free_text}} &mdash; Stolen: {{row.usage.steal_text}}">
                            <div class="progress-bar" role="progressbar"
                                 ng-class="{'progress-bar-success': row.usage.used_pcnt <  row.fswarning,
                                                'progress-bar-warning': row.usage.used_pcnt >= row.fswarning && row.usage.used_pcnt < row.fscritical,
                                                'progress-bar-danger':  row.usage.used_pcnt >= row.fscritical}"
                                 aria-valuenow="{{row.usage.used / row.usage.size * 100}}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{row.usage.used / row.usage.size * 100}}%">
                                <span>{{row.usage.used_pcnt | number:2}}%</span>
                            </div>
                            <div class="progress-bar progress-bar-freespace" role="progressbar"
                                 aria-valuenow="{{row.usage.free / row.usage.size * 100}}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{row.usage.free / row.usage.size * 100}}%">
                            </div>
                            <div class="progress-bar progress-bar-stolenspace" role="progressbar"
                                 aria-valuenow="{{row.usage.steal / row.usage.size * 100}}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{row.usage.steal / row.usage.size * 100}}%">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-8" style="min-height: 300px">
            <div ng-show="graphTitle">
                <div class="jarviswidget" role="widget">
                    <header role="heading">
                        <div class="widget-toolbar" role="menu">
                            <graph-widget params="dashboardparams"></graph-widget>
                        </div>
                        <h2>Details about {{selectedVolume.name}}</h2>
                    </header>
                    <div role="content">
                        <div role="widget-body">
                            <graph volume="selectedVolume" title="{{ graphTitle }}" width="660" profile="48h" global-params="dashboardparams" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="graphTitle">
                Please select a volume on the left to see details about possible issues here.
            </div>
        </div>
    </div>
</div>